<h1>Planning Poker</h1>

<%= form_with url: create_room_path, method: :post do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :user_name %>
  <%= form.submit "Create new room" %>
<% end %>
